header{
    position: relative;
    background: white;
    padding: 0px;
    border-bottom: 1px solid #e72929;
}

a {
     color:maroon ;
}

a:hover{
    background-color:  #e72929;
    color: white;
    cursor: pointer;
}
.container{
    margin: 0%;
    display: flex;
    justify-content: space-between;

}

 a.logo{
    font-weight: bold;
     padding: 1em;
}

ul {
    display: flex;
       list-style-type: none;
       margin: 0%;
}

 ul  a{
    font-weight: bold;
     padding: 1em;
     display: inline-block;
}


a span{
    background: #ff4d4d;
    color: white;
    padding: .1rem .45rem;
   border-radius :100rem;
   font-size: .9rem;
}

.menu-container{
    position: relative;
}

.menu{
    position: absolute;
    z-index: 1;
    background: whitesmoke;
    display: none;
}

.menu-container:hover  .menu{
display:block ;
}

.menu a{
    width: 100%;
    min-width: 8rem;
}